
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777;
    background: url("../images/concrete_seamless.png");
  }
  
  header {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0;
    height: 90px;
}


.tab {
    float: left;
    text-align: center;
    width: 200px;
    height: 90px;
    padding: 10px;
    color: white;
    font-size: 30px;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;  
}

.horizontal {
    text-align: center;
    background-color: white;
    margin-right: 0px;
}

li {
    list-style: none;
    float: right;
    margin-top: 35px;
}

a#contact {
    border: none;
}

a {
    height: 20px;
    padding-right: 20px;
    padding-left: 20px;
    border-right: 1px solid #dddddd;
    font-family: Arial;
    font-size: 14px;
    color: #777777;
    text-decoration: none;
}

a .icon {
    border: none;
}

.container {
    clear: both;
    overflow: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 90px;
    background-image: url("../images/concrete_seamless.png");
    margin-bottom: 100px;
}

.content {
    position: relative;
    float: left;
    top: 50px;
    width: 35%;
    left: 10%;
    height: auto;
    padding: 10px;
    margin-bottom: 50px;
    background-color: white;
    border: 1px solid #dddddd
}

.connect {
    position: relative;
    float: right;
    top: 50px;
    width: 35%;
    right: 10%;
    padding: 10px;
    background-color: white;
    border: 1px solid #dddddd;
}

.panel p {
    color: #777777;
    font-size: 14px;
    font-family: Arial;
    padding: 10px;
}

h1 {
    color: #4aaaa5;
    padding-left: 10px;
}

.photo {
    width: 200px;
    height: 130px;
    float: left;
    margin: 10px;
}

label {
    font-family: Arial;
    font-size: 14px;
    color: #777777;
    margin-bottom: 10px;
}

/* Contact */

#name {
    width: 100%;
}

#email {
    width: 100%;
}

#message {
    width: 100%;
    height: 200px;
    border: 1px solid #dddddd;
}

input[type=submit] {
    background-color:#4aaaa5;
    color: white;
    padding: 6px 10px;
    border: none;
    cursor: pointer;
}

/* portfolio */

.work {
    position: relative;
    float: left;
    width: 250px;
    margin: 20px 0 25px;
    overflow: auto;
  }

.dog {
    width: 100%;
    border: 0 none;
    margin: none;
}

.work h3 {
    position: absolute;
    bottom: 10px;
    width: 100%;
    overflow: hidden;
    color: #fff;
    text-align: center;
    border-bottom: none;
    background-color: #4aaaa5;
    padding: 10px;
    opacity: 50%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 5px solid #4aaaa5;
    background-color: #666666;
    color: #777777;
    text-align: center;
}

@media screen and (max-width: 640px) {
    .container {
        width: 100%;
    }
    .content {
        width: 80%;
    }
    .connect {
        width: 80%;
    }
    .tab {
        width: 100%;
        float: none;
    }
    ul {
        float: none;
        width: 100%;
        text-align: center;
    }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
    .container {
        width: 100%;
    }
    .content {
        width: 80%;
    }
    .connect {
        width: 80%;
    }
}

@media screen and (min-width: 769px) and (max-width: 980px) {
    .container {
        width: 100%;
    }
    .content {
        width: 35%;
    }
    .connect {
        width: 35%;
    }
}